.MyNotes {
  height: 87vh;
  width: 100%;
  background-color: var(--d3);
  padding: 0px;
  margin: 0px;
  display: flex;
  /* justify-content: space-between; */
}

.notes-manager {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
  padding: 1rem;
  background-color: var(--d2);
  margin: 5px;
}

button:hover {
  color: white;
  background-color: var(--color-1);
}

.taglist-manager {
  width: 25%;
  background-color: var(--d1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 87vh;
}
.tglist-container {
  padding: 1rem;
}

.taglist {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 52vh;
  overflow-y: auto;
}

.taglist .btn {
  margin: 0.5rem;
}

h2 {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.3rem;
  color: var(--color-1);
  border-bottom: 2px solid var(--color-1);
}

.tags-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background-color: var(--d1);
  padding: 1rem;
  border-top: 2px solid var(--color-1);
}
.tags-form h2 {
  margin: 0px;
  border: 0px;
  margin-top: 0.5rem;
  border-top: 2px solid var(--color-1);
}
.tags-form label {
  text-align: left;
  margin: 4px;
  letter-spacing: 1px;
  /* color: var(--color-1); */
}
.tags-form input,
textarea {
  border: 2px solid var(--color-1);
}
.tags-form button {
  border: 2px solid var(--color-1);
  margin: 1rem 0rem;
  font-weight: 700;
}
.tags-form span {
  text-align: right;
  margin: 0px;
  margin-right: 3rem;
  font-weight: 300;
  font-size: 0.7rem;
  color: #b71c1c;
  /* color: var(--color-1); */
}
.tag-form div {
  width: 100%;
}

.input {
  margin: 0.2rem;
  font-family: Montserrat;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.1rem;
  outline: none;
}
.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
  background-color: var(--d2);
  margin: 5px;
  margin-right: 0px;
  overflow-y: auto;
}
.notes-list .cat-label {
  color: white;
  font-weight: 500;
  margin: 2px;
  padding: 4px;
  border-bottom: 2px solid white;
}

@media (max-width: 768px) {
  .MyNotes {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .MyNotes {
    width: 100%;
    height: auto;
  }
  .notes-list,
  .taglist-manager,
  .notes-manager {
    width: 98.5%;
  }
}
